<h1>Registration</h1>
<div id="student_form">
  <%= render 'shared/student_form' %>
</div>

<h1>Filters</h1>
<div id="filters_form">
  <%= render 'shared/filters_form' %>
</div>

<h1>Listing students</h1>
<div id="students_table">
  <%= render 'shared/students_table' %>
</div>
